In [38]:
import graphlab
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [69]:
train_data = graphlab.SFrame.read_csv('train.csv')

Finished parsing file C:\Users\Anonymous\train.csv

Parsing completed. Parsed 100 lines in 0.031252 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[long,long,long,str,str,float,long,long,str,float,str,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file C:\Users\Anonymous\train.csv

Parsing completed. Parsed 891 lines in 0.01999 secs.

In [5]:
print train_data

+-------------+----------+--------+--------------------------------+--------+
| PassengerId | Survived | Pclass |              Name              |  Sex   |
+-------------+----------+--------+--------------------------------+--------+
|      1      |    0     |   3    |    Braund, Mr. Owen Harris     |  male  |
|      2      |    1     |   1    | Cumings, Mrs. John Bradley...  | female |
|      3      |    1     |   3    |     Heikkinen, Miss. Laina     | female |
|      4      |    1     |   1    | Futrelle, Mrs. Jacques Hea...  | female |
|      5      |    0     |   3    |    Allen, Mr. William Henry    |  male  |
|      6      |    0     |   3    |        Moran, Mr. James        |  male  |
|      7      |    0     |   1    |    McCarthy, Mr. Timothy J     |  male  |
|      8      |    0     |   3    | Palsson, Master. Gosta Leonard |  male  |
|      9      |    1     |   3    | Johnson, Mrs. Oscar W (Eli...  | female |
|      10     |    1     |   2    | Nasser, Mrs. Nicholas (Ade...  | female |
+-------------+----------+--------+--------------------------------+--------+
+------+-------+-------+------------------+---------+-------+----------+
| Age  | SibSp | Parch |      Ticket      |   Fare  | Cabin | Embarked |
+------+-------+-------+------------------+---------+-------+----------+
| 22.0 |   1   |   0   |    A/5 21171     |   7.25  |       |    S     |
| 38.0 |   1   |   0   |     PC 17599     | 71.2833 |  C85  |    C     |
| 26.0 |   0   |   0   | STON/O2. 3101282 |  7.925  |       |    S     |
| 35.0 |   1   |   0   |      113803      |   53.1  |  C123 |    S     |
| 35.0 |   0   |   0   |      373450      |   8.05  |       |    S     |
| None |   0   |   0   |      330877      |  8.4583 |       |    Q     |
| 54.0 |   0   |   0   |      17463       | 51.8625 |  E46  |    S     |
| 2.0  |   3   |   1   |      349909      |  21.075 |       |    S     |
| 27.0 |   0   |   2   |      347742      | 11.1333 |       |    S     |
| 14.0 |   1   |   0   |      237736      | 30.0708 |       |    C     |
+------+-------+-------+------------------+---------+-------+----------+
[891 rows x 12 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [70]:
test_data = graphlab.SFrame.read_csv('test.csv')

Finished parsing file C:\Users\Anonymous\test.csv

Parsing completed. Parsed 100 lines in 0.04313 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[long,long,str,str,float,long,long,str,float,str,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file C:\Users\Anonymous\test.csv

Parsing completed. Parsed 418 lines in 0.016096 secs.

In [7]:
print test_data

+-------------+--------+-------------------------------+--------+------+-------+
| PassengerId | Pclass |              Name             |  Sex   | Age  | SibSp |
+-------------+--------+-------------------------------+--------+------+-------+
|     892     |   3    |        Kelly, Mr. James       |  male  | 34.5 |   0   |
|     893     |   3    | Wilkes, Mrs. James (Ellen ... | female | 47.0 |   1   |
|     894     |   2    |   Myles, Mr. Thomas Francis   |  male  | 62.0 |   0   |
|     895     |   3    |        Wirz, Mr. Albert       |  male  | 27.0 |   0   |
|     896     |   3    | Hirvonen, Mrs. Alexander (... | female | 22.0 |   1   |
|     897     |   3    |   Svensson, Mr. Johan Cervin  |  male  | 14.0 |   0   |
|     898     |   3    |      Connolly, Miss. Kate     | female | 30.0 |   0   |
|     899     |   2    |  Caldwell, Mr. Albert Francis |  male  | 26.0 |   1   |
|     900     |   3    | Abrahim, Mrs. Joseph (Soph... | female | 18.0 |   0   |
|     901     |   3    |    Davies, Mr. John Samuel    |  male  | 21.0 |   2   |
+-------------+--------+-------------------------------+--------+------+-------+
+-------+-----------+---------+-------+----------+
| Parch |   Ticket  |   Fare  | Cabin | Embarked |
+-------+-----------+---------+-------+----------+
|   0   |   330911  |  7.8292 |       |    Q     |
|   0   |   363272  |   7.0   |       |    S     |
|   0   |   240276  |  9.6875 |       |    Q     |
|   0   |   315154  |  8.6625 |       |    S     |
|   1   |  3101298  | 12.2875 |       |    S     |
|   0   |    7538   |  9.225  |       |    S     |
|   0   |   330972  |  7.6292 |       |    Q     |
|   1   |   248738  |   29.0  |       |    S     |
|   0   |    2657   |  7.2292 |       |    C     |
|   0   | A/4 48871 |  24.15  |       |    S     |
+-------+-----------+---------+-------+----------+
[418 rows x 11 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [71]:
avg_Age_train =  int(train_data[train_data['Age']!=None]['Age'].mean())
avg_Age_test =  int(test_data[test_data['Age']!=None]['Age'].mean())

In [72]:
train_data = train_data.fillna('Age',avg_Age_train)
test_data = test_data.fillna('Age',avg_Age_test)

In [73]:
test_data.remove_columns(['Name', 'Cabin', 'Ticket'])

Columns:
	PassengerId	int
	Pclass	int
	Sex	str
	Age	float
	SibSp	int
	Parch	int
	Fare	float
	Embarked	str

Rows: 418

Data:
+-------------+--------+--------+------+-------+-------+---------+----------+
| PassengerId | Pclass |  Sex   | Age  | SibSp | Parch |   Fare  | Embarked |
+-------------+--------+--------+------+-------+-------+---------+----------+
|     892     |   3    |  male  | 34.5 |   0   |   0   |  7.8292 |    Q     |
|     893     |   3    | female | 47.0 |   1   |   0   |   7.0   |    S     |
|     894     |   2    |  male  | 62.0 |   0   |   0   |  9.6875 |    Q     |
|     895     |   3    |  male  | 27.0 |   0   |   0   |  8.6625 |    S     |
|     896     |   3    | female | 22.0 |   1   |   1   | 12.2875 |    S     |
|     897     |   3    |  male  | 14.0 |   0   |   0   |  9.225  |    S     |
|     898     |   3    | female | 30.0 |   0   |   0   |  7.6292 |    Q     |
|     899     |   2    |  male  | 26.0 |   1   |   1   |   29.0  |    S     |
|     900     |   3    | female | 18.0 |   0   |   0   |  7.2292 |    C     |
|     901     |   3    |  male  | 21.0 |   2   |   0   |  24.15  |    S     |
+-------------+--------+--------+------+-------+-------+---------+----------+
[418 rows x 8 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [74]:
train_data.remove_columns(['Name', 'PassengerId', 'Cabin', 'Ticket'])

Columns:
	Survived	int
	Pclass	int
	Sex	str
	Age	float
	SibSp	int
	Parch	int
	Fare	float
	Embarked	str

Rows: 891

Data:
+----------+--------+--------+------+-------+-------+---------+----------+
| Survived | Pclass |  Sex   | Age  | SibSp | Parch |   Fare  | Embarked |
+----------+--------+--------+------+-------+-------+---------+----------+
|    0     |   3    |  male  | 22.0 |   1   |   0   |   7.25  |    S     |
|    1     |   1    | female | 38.0 |   1   |   0   | 71.2833 |    C     |
|    1     |   3    | female | 26.0 |   0   |   0   |  7.925  |    S     |
|    1     |   1    | female | 35.0 |   1   |   0   |   53.1  |    S     |
|    0     |   3    |  male  | 35.0 |   0   |   0   |   8.05  |    S     |
|    0     |   3    |  male  | 29.0 |   0   |   0   |  8.4583 |    Q     |
|    0     |   1    |  male  | 54.0 |   0   |   0   | 51.8625 |    S     |
|    0     |   3    |  male  | 2.0  |   3   |   1   |  21.075 |    S     |
|    1     |   3    | female | 27.0 |   0   |   2   | 11.1333 |    S     |
|    1     |   2    | female | 14.0 |   1   |   0   | 30.0708 |    C     |
+----------+--------+--------+------+-------+-------+---------+----------+
[891 rows x 8 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [62]:
train_data

Columns:
	Survived	int
	Pclass	int
	Sex	str
	Age	float
	SibSp	int
	Parch	int
	Fare	float
	Embarked	str

Rows: 891

Data:
+----------+--------+--------+------+-------+-------+---------+----------+
| Survived | Pclass |  Sex   | Age  | SibSp | Parch |   Fare  | Embarked |
+----------+--------+--------+------+-------+-------+---------+----------+
|    0     |   3    |  male  | 22.0 |   1   |   0   |   7.25  |    S     |
|    1     |   1    | female | 38.0 |   1   |   0   | 71.2833 |    C     |
|    1     |   3    | female | 26.0 |   0   |   0   |  7.925  |    S     |
|    1     |   1    | female | 35.0 |   1   |   0   |   53.1  |    S     |
|    0     |   3    |  male  | 35.0 |   0   |   0   |   8.05  |    S     |
|    0     |   3    |  male  | 29.0 |   0   |   0   |  8.4583 |    Q     |
|    0     |   1    |  male  | 54.0 |   0   |   0   | 51.8625 |    S     |
|    0     |   3    |  male  | 2.0  |   3   |   1   |  21.075 |    S     |
|    1     |   3    | female | 27.0 |   0   |   2   | 11.1333 |    S     |
|    1     |   2    | female | 14.0 |   1   |   0   | 30.0708 |    C     |
+----------+--------+--------+------+-------+-------+---------+----------+
[891 rows x 8 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [64]:
model = graphlab.logistic_classifier.create(train_data, target='Survived', validation_set=None)

Logistic regression:

--------------------------------------------------------

Number of examples          : 891

Number of classes           : 2

Number of feature columns   : 7

Number of unpacked features : 7

Number of coefficients    : 10

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+-------------------+

| Iteration | Passes   | Elapsed Time | Training-accuracy |

+-----------+----------+--------------+-------------------+

| 1         | 2        | 0.002999     | 0.799102          |

| 2         | 3        | 0.005000     | 0.800224          |

| 3         | 4        | 0.007002     | 0.801347          |

| 4         | 5        | 0.010003     | 0.801347          |

| 5         | 6        | 0.013006     | 0.801347          |

| 6         | 7        | 0.015007     | 0.801347          |

+-----------+----------+--------------+-------------------+

SUCCESS: Optimal solution found.

In [75]:
predictions = model.classify(test_data)

In [77]:
predictions

Columns:
	class	int
	probability	float

Rows: 418

Data:
+-------+----------------+
| class |  probability   |
+-------+----------------+
|   0   | 0.89529907681  |
|   0   | 0.649802667113 |
|   0   | 0.894203732921 |
|   0   | 0.901669992606 |
|   1   |  0.5721320571  |
|   0   | 0.845569602121 |
|   1   | 0.67901249977  |
|   0   | 0.810962395342 |
|   1   | 0.780904692616 |
|   0   | 0.930742938618 |
+-------+----------------+
[418 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [98]:
predictions = graphlab.SFrame(test_data['PassengerId']).add_column(predictions['class'], name="Survived")

In [99]:
predictions.rename({'X1': 'PassengerId' })

Columns:
	PassengerId	int
	Survived	int

Rows: 418

Data:
+-------------+----------+
| PassengerId | Survived |
+-------------+----------+
|     892     |    0     |
|     893     |    0     |
|     894     |    0     |
|     895     |    0     |
|     896     |    1     |
|     897     |    0     |
|     898     |    1     |
|     899     |    0     |
|     900     |    1     |
|     901     |    0     |
+-------------+----------+
[418 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [100]:
predictions.save('Predictions',format='csv')

In [101]:
p = graphlab.SFrame('Predictions.csv')
p

Finished parsing file C:\Users\Anonymous\Predictions.csv

Parsing completed. Parsed 100 lines in 0.040028 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[long,long]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file C:\Users\Anonymous\Predictions.csv

Parsing completed. Parsed 418 lines in 0.039027 secs.

Columns:
	PassengerId	int
	Survived	int

Rows: 418

Data:
+-------------+----------+
| PassengerId | Survived |
+-------------+----------+
|     892     |    0     |
|     893     |    0     |
|     894     |    0     |
|     895     |    0     |
|     896     |    1     |
|     897     |    0     |
|     898     |    1     |
|     899     |    0     |
|     900     |    1     |
|     901     |    0     |
+-------------+----------+
[418 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.